header{
    padding: 20px;
    background-color: black;
    color: white;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    list-style: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
}